html,
body{

  color: hsl(0, 0%, 100%);
  background-color: rgb(51, 122, 183);
}

#mapid {
  width: 1024px;
  height: 475px;
  padding: 0;
  margin: 0;
  margin-left:auto;
  margin-right:auto
}

#bar_chart {
  width: 1024px;
  height: 475px;
  padding: 0;
  margin: 0;
  margin-left:auto;
  margin-right:auto
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif
}


.legend{
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7
}

.jumbotron {
  background-size: 100% 100%;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif
  
}